.landingContainer .navBar {
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.landingContainer .navBar > div:nth-child(1) img {
  width: 50%;
}

.landingContainer .navBar > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  color: #8A948C;
}

.landingContainer .navBar > div:nth-child(2) ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 22;
}

.landingContainer .navBar > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

.landingContainer .navBar > div:nth-child(3) button:nth-child(1) {
  color: #F98149;
  padding: 10px 40px 10px 40px;
  background-color: #fff;
  border-color: green;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 28;
  cursor: pointer;
  margin-left: 10px;
}

.landingContainer .navBar > div:nth-child(3) button:nth-child(2) {
  color: #F98149;
  padding: 10px 40px 10px 40px;
  color: #ffff;
  border-color: green;
  background-color: green;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 28;
  cursor: pointer;
}

.landingContainer .navBar > div:nth-child(3) button:hover {
  background-color: green;
}

.landingContainer .navBar > div:nth-child(3) .Btn2:hover {
  background-color: white;
  color: green;
}

.landingContainer .sectionTwo {
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.landingContainer .sectionTwo div:nth-child(1) h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: bold;
  font-size: 80px;
  color: green;
  width: 650px;
  margin: 0px;
}

.landingContainer .sectionTwo div:nth-child(1) p {
  font-family: "Montserrat", sans-serif;
  color: #A1A1A1;
  font-size: 34px;
  width: 500px;
}

.landingContainer .sectionTwo div:nth-child(1) .SearchBar {
  padding-bottom: 20px;
}

.landingContainer .sectionTwo div:nth-child(1) .SearchBar .input {
  padding: 10px;
  background-color: #F2F4F8;
  color: #A5A5A5;
  width: 400px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
  border-style: none;
  border-radius: 5px;
  margin-right: 10px;
}

.landingContainer .sectionTwo div:nth-child(1) .SearchBar .btn3 {
  padding: 20px 18px;
  color: white;
  background-color: green;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

.landingContainer .sectionTwo div:nth-child(1) .SearchBar .btn3:hover {
  background-color: white;
  color: green;
}

.landingContainer .sectionTwo div:nth-child(1) .features {
  width: 570px;
}

.landingContainer .sectionTwo div:nth-child(1) .features button {
  background-color: #F2F4F8;
  color: #B9B5B2;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 17px;
  border-style: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 15px 28px;
  margin-bottom: 15px;
}

.landingContainer .sectionTwo div:nth-child(1) .features button:hover {
  background-color: white;
  color: green;
  font-size: 25px;
}

.landingContainer .sectionTwo div:nth-child(2) img {
  width: 80%;
}

.landingContainer .sectionThree {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingContainer .sectionThree div:nth-child(1) h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: bold;
  font-size: 60px;
  color: green;
}

.landingContainer .sectionThree div:nth-child(2) img {
  width: 700px;
}

.landingContainer .sectionFour {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.landingContainer .sectionFour > h1 {
  font-family: "poppins";
  font-size: 25px;
  color: black;
  font-weight: 400;
  letter-spacing: 10px;
}

.landingContainer .sectionFour .FouthSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingContainer .sectionFour .FouthSection .skill {
  color: green;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  width: 600px;
  font-weight: bold;
}

.landingContainer .sectionFour .FouthSection .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.landingContainer .sectionFour .FouthSection .icon span:nth-child(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingContainer .sectionFour .FouthSection .icon span:nth-child(1) p {
  text-align: center;
  padding-left: 60px;
}

.landingContainer .sectionFour .FouthSection .icon .iconfour p {
  text-align: center;
  padding-left: 60px;
}

.landingContainer .sectionFive {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  position: relative;
}

.landingContainer .sectionFive .title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #F98149;
  text-align: center;
  width: 400px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  right: 50px;
  left: 50px;
  top: 35px;
  color: white;
  border-radius: 20px;
}

.landingContainer .sectionFive .eclipse {
  position: absolute;
  top: -50px;
  right: -10px;
  z-index: -1;
}

.landingContainer .sectionFive .card {
  background-color: #003F7D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 40px 100px 40px;
  border-radius: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.landingContainer .sectionFive .card p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}

.landingContainer .sectionFive .card i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 25px;
}

.landingContainer .sectionFive .card p:nth-of-type(2) {
  font-size: 15px;
}

.landingContainer .sectionFive .card .iconTwo {
  border-color: #F98149;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
  border-width: 5px;
  border-radius: 10px;
  margin: 0;
}

.landingContainer .sectionFive .card span:not(:first-child):not(:last-child):nth-of-type(odd) {
  margin-top: 70px;
}

.landingContainer .sectionSix {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.landingContainer .sectionSix h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.landingContainer .sectionSix h1 Span {
  color: green;
}

.landingContainer .sectionSix .sectionSixCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 280px;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo {
  background-color: #003F7D;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 100px;
  border-radius: 20px;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree {
  margin-top: 30px;
  background-color: white;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  top: 5p;
  left: 20px;
  text-align: center;
  padding: 5px;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree h5 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  padding-top: 20px;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree div:nth-of-type(1) button {
  border-color: black;
  padding: 10px 5px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  border-color: green;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree div:nth-of-type(1) button:hover {
  color: white;
  background-color: green;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree .Download {
  width: 250px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 15px 0px;
  margin: 15px 0px;
  border-radius: 30px;
  background-color: green;
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border-color: green;
  cursor: pointer;
}

.landingContainer .sectionSix .sectionSixCard .CardTwo .CardThree .Download:hover {
  background-color: white;
  color: green;
}

.landingContainer .sectionSix .ViewCourse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingContainer .sectionSix .ViewCourse button {
  padding: 10px 80px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  background-color: #003F7D;
  color: white;
}

.landingContainer .sectionSix .ViewCourse button:hover {
  background-color: white;
  color: green;
}

.landingContainer .sectionSeven {
  background-color: #F3F3F3;
  text-align: center;
}

.landingContainer .sectionSeven h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  padding: 30px 0px;
}

.landingContainer .sectionSeven h1 span {
  color: green;
}

.landingContainer .sectionSeven .sectionSevenCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingContainer .sectionSeven .sectionSevenCard .sectionsevensubcard div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

.landingContainer .sectionSeven .sectionSevenCard .sectionsevensubcard div:nth-of-type(1) .cardOne {
  display: -ms-grid;
  display: grid;
  background-color: white;
  width: auto;
  padding: 0px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.landingContainer .sectionSeven .sectionSevenCard .sectionsevensubcard div:nth-of-type(1) .cardOne span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.landingContainer .sectionSeven .sectionSevenCard .sectionsevensubcard div:nth-of-type(1) .cardOne h1 {
  font-size: 50px;
  margin: 0px;
  padding-top: 25px;
  color: green;
  font-weight: bolder;
}

.landingContainer .sectionSeven .sectionSevenCard .sectionsevensubcard .cardthree {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.landingContainer .sectionSeven .sectionSevenCard .sectionsevensubcard .cardthree h1 {
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-weight: bold;
}

.landingContainer .sectionSeven .sectionSevenCard .sectionsevensubcard .ornament {
  position: relative;
  right: -200px;
  top: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  max-width: 50%;
  margin-bottom: -70px;
}

.landingContainer .sectionEight {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
}

.landingContainer .sectionEight h1 {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  padding-left: 10px;
}

.landingContainer .sectionEight h1 span {
  color: green;
}

.landingContainer .sectionEight .MentorCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  width: 380px;
  border-radius: 20px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: #FF8B36;
  width: 200px;
  margin: 20px auto;
  border-radius: 10px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .best p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  margin: 0px;
  padding: 3px 0px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) div:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) div:nth-of-type(2) h6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) div:nth-of-type(2) p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  color: green;
  margin-left: -10px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) div:nth-of-type(2) span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) div:nth-of-type(2) span p {
  font-size: 10px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) div:nth-of-type(2) .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard div:nth-of-type(2) div:nth-of-type(2) .review p {
  font-size: 9px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv div:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv div:nth-of-type(2) h6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv div:nth-of-type(2) p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  color: green;
  margin-left: -10px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv div:nth-of-type(2) span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv div:nth-of-type(2) span p {
  font-size: 10px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv div:nth-of-type(2) .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .NewCardDiv div:nth-of-type(2) .review p {
  font-size: 9px;
}

.landingContainer .sectionEight .MentorCardContainer .MentorCard .commentreview {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin: 10px 50px;
}

.landingContainer .sectionNine {
  padding-left: 50px;
  padding-right: 50px;
}

.landingContainer .sectionNine h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
}

.landingContainer .sectionNine h2 span {
  color: green;
}

.landingContainer .sectionNine .certification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 60px;
}

.landingContainer footer {
  padding-right: 50px;
  padding-left: 50px;
  background-color: #003F7D;
  padding-top: 100px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

.landingContainer footer .footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingContainer footer .footer1 h3 {
  font-weight: 500;
  font-size: 25px;
}

.landingContainer footer .footer1 .input {
  padding: 10px 40px;
  background-color: #003F7D;
  border-top-style: none;
  border-left: none;
  border-right: none;
}

.landingContainer footer .footer1 .btn3 {
  background-color: #F98149;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px 5px 0px 0px;
  border-color: #F98149;
}

.landingContainer footer .footer1 div:nth-of-type(2) ul {
  list-style-type: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: -30px;
}

.landingContainer footer .footer1 div:nth-of-type(2) ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.landingContainer footer .footer1 div:nth-of-type(3) ul {
  list-style-type: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: -30px;
}

.landingContainer footer .footer1 div:nth-of-type(3) ul li {
  padding-top: 5px;
  padding-bottom: 10px;
}

.landingContainer footer .footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px;
}

.landingContainer footer .footer2 div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
/*# sourceMappingURL=Style.css.map */