@import 'variables';

.landingContainer {
    // padding-left: 50px;
    // padding-right: 50px;

    .navBar {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        >div:nth-child(1) {
            img {
                width: 50%;
            }
        }

        >div:nth-child(2) {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            color: #8A948C;

            ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                width: 700px;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-style: medium;
                font-size: 22;
            }
        }

        >div:nth-child(3) {
            display: flex;
            justify-content: space-around;
            gap: 50px;

            button:nth-child(1) {
                color: #F98149;
                padding: 10px 40px 10px 40px;
                background-color: #fff;
                border-color: green;
                border-radius: 5px;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                font-size: 28;
                cursor: pointer;
                margin-left: 10px;
            }

            button:nth-child(2) {
                color: #F98149;
                padding: 10px 40px 10px 40px;
                color: #ffff;
                border-color: green;
                background-color: green;
                border-radius: 5px;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                font-size: 28;
                cursor: pointer;
            }

            button:hover {
                background-color: green;

            }

            .Btn2:hover {
                background-color: white;
                color: green;
            }



        }
    }

    .sectionTwo {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        //width: 1600px;
        div:nth-child(1) {
            h1 {

                font-family: "Poppins", sans-serif;
                font-weight: 900;
                font-style: bold;
                font-size: 80px;
                color: green;
                width: 650px;
                margin: 0px;
            }

            p {
                font-family: "Montserrat", sans-serif;
                color: #A1A1A1;
                font-size: 34px;
                width: 500px;
            }

            .SearchBar {
                padding-bottom: 20px;

                .input {
                    padding: 10px;
                    background-color: #F2F4F8;
                    color: #A5A5A5;
                    width: 400px;

                    font-family: "Poppins", sans-serif;
                    font-weight: 200;
                    font-size: 18px;
                    border-style: none;
                    border-radius: 5px;
                    margin-right: 10px;

                }

                .btn3 {
                    padding: 20px 18px;
                    color: white;
                    background-color: green;
                    border-style: none;
                    border-radius: 10px;
                    cursor: pointer;
                }

                .btn3:hover {
                    background-color: white;
                    color: green;
                }
            }

            .features {
                width: 570px;

                button {
                    background-color: #F2F4F8;
                    color: #B9B5B2;
                    font-family: "Poppins", sans-serif;
                    font-weight: 300;
                    font-size: 17px;
                    border-style: none;
                    border-radius: 5px;
                    margin-right: 10px;
                    padding: 15px 28px;
                    margin-bottom: 15px;
                }

                button:hover {
                    background-color: white;
                    color: green;
                    font-size: 25px;
                }
            }

        }

        div:nth-child(2) {
            img {
                width: 80%;
            }
        }
    }

    .sectionThree {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        div:nth-child(1) {
            h1 {
                font-family: "Poppins", sans-serif;
                font-weight: 900;
                font-style: bold;
                font-size: 60px;
                color: green;
                // width: 500px;
                // margin: 0px;

            }
        }

        div:nth-child(2) {
            img {
                width: 700px;
            }
        }
    }

    .sectionFour {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;

        >h1 {
            font-family: "poppins";
            font-size: 25px;
            color: $Second_textcolour;
            font-weight: 400;
            letter-spacing: 10px;
        }

        .FouthSection {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .skill {
                color: $text-colour;
                font-family: $font-family;
                font-size: 60px;
                width: 600px;
                font-weight: bold;
            }

            .icon {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 50px;

                span:nth-child(1) {
                    align-items: center;

                    p {
                        text-align: center;
                        padding-left: 60px;
                    }
                }

                .iconfour {
                    p {

                        text-align: center;
                        padding-left: 60px;
                    }
                }
            }
        }
    }

    .sectionFive {
        padding-left: 50px;
        padding-right: 50px;
        padding-top:
            70px;
        position: relative;


        .title {
            font-family: $font-family;
            font-size: 18px;
            background-color: #F98149;
            text-align: center;
            width: 400px;
            height: 55px; // Add height to center vertically
            display: flex; // Make it a flex container
            justify-content: center; // Center horizontally
            align-items: center; // Center vertically
            margin: 0 auto;
            position: absolute;
            z-index: 1;
            right: 50px;
            left: 50px;
            top: 35px;
            color: white;
            border-radius: 20px;

        }

        .eclipse {
            position: absolute;
            top: -50px;
            right: -10px;
            z-index: -1;

        }

        .card {
            background-color: #003F7D;
            display: flex;
            justify-content: space-between;
            padding: 100px 40px 100px 40px;
            border-radius: 20px;
            text-align: center;
            align-items: center;
            position: relative;

            p {
                font-family: $font-family;
                font-size: 20px;
                color: white;
            }

            i {
                align-self: center;
                padding: 25px;
            }

            p:nth-of-type(2) {
                font-size: 15px;

            }

            .iconTwo {
                border-color: #F98149;
                border-width: 5px;

                border-style: solid;
                padding: 10px;
                border-width: 5px;
                border-radius: 10px;
                margin: 0; // Reset default margin

                // &:nth-of-type(2n) {
                //     margin-top: 10px; // Move every second icon down
                // }
            }

            span {
                &:not(:first-child):not(:last-child):nth-of-type(odd) {
                    margin-top: 70px; // Move every second span down, excluding the first and last
                }
            }

        }
    }

    .sectionSix {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;

        h1 {
            text-align: center;
            font-family: $font-family;
            font-size: 40px;
            font-weight: bold;

            Span {
                color: $text-colour;
            }
        }

        .sectionSixCard {
            display: flex;
            justify-content: space-between;
            padding-bottom: 280px;

            .CardTwo {
                background-color: #003F7D;
                width: 350px;
                align-items: center;
                position: relative;
                padding-bottom: 100px;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    padding-top: 30px;
                    padding-bottom: 50px;
                }

                border-radius: 20px;

                .CardThree {
                    margin-top: 30px;
                    background-color: white;
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 auto;
                    border-radius: 20px;
                    position: absolute;
                    top: 5p;
                    left: 20px;
                    text-align: center;
                    padding: 5px;

                    h5 {
                        font-family: $font-family;
                        font-size: 20px;
                        font-weight: 600;
                        margin: 0px;
                        padding-top: 20px;
                    }

                    p {
                        font-family: $font-family;
                        font-size: 16px;
                    }

                    div:nth-of-type(1) {
                        display: flex;
                        justify-content: space-evenly;

                        button {

                            border-color: $Second_textcolour;
                            padding: 10px 5px;
                            font-family: $font-family;
                            background-color: white;
                            border-color: green;
                            border-radius: 10px;
                            cursor: pointer;
                            margin-bottom: 20px;


                        }

                        button:hover {
                            color: white;
                            background-color: green;
                        }
                    }


                    .Download {
                        width: 250px;
                        justify-content: flex-end;
                        align-self: center;
                        padding: 15px 0px;
                        margin: 15px 0px;
                        border-radius: 30px;
                        background-color: green;
                        color: white;
                        font-size: 15px;
                        font-family: $font-family;
                        border-color: green;
                        cursor: pointer;

                        &:hover {
                            background-color: white;
                            color: green;
                        }
                    }
                }
            }




        }

        .ViewCourse {
            display: flex;
            justify-content: center;

            button {
                padding: 10px 80px;
                font-size: 18px;
                font-family: $font-family;
                border-radius: 20px;
                background-color: #003F7D;
                color: white;

                &:hover {
                    background-color: white;
                    color: green;
                }
            }
        }

    }

    .sectionSeven {
        background-color: #F3F3F3;
        text-align: center;

        //padding-top: 30px;
        h1 {
            font-size: 40px;
            font-family: $font-family;
            padding: 30px 0px;

            span {
                color: $text-colour;
            }
        }


        .sectionSevenCard {
            display: flex;
            justify-content: space-evenly;


            .sectionsevensubcard {
                div:nth-of-type(1) {
                    display: flex;
                    justify-content: space-between;
                    width: 400px;

                    .cardOne {
                        display: grid;
                        background-color: white;
                        width: auto;
                        padding: 0px 20px;
                        text-align: center;
                        font-family: $font-family;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); // Subtle shadow;
                        border-radius: 10px;

                        span {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding-bottom: 20px;


                        }

                        h1 {
                            font-size: 50px;
                            margin: 0px;
                            padding-top: 25px;
                            color: $text-colour;
                            font-weight: bolder;

                        }
                    }

                }

                .cardthree {
                    background-color: white;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 30px;
                    font-family: $font-family;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); // Subtle shadow;
                    border-radius: 10px;

                    h1 {
                        font-size: 70px;
                        font-family: $font-family;
                        box-sizing: border-box;
                        margin: 0px;
                        font-weight: bold;

                    }

                    position: relative;
                    z-index: 2;
                }

                .ornament {
                    position: relative;
                    right: -200px;
                    top: 0%;
                    transform: translateY(-50%);
                    z-index: 1;
                    max-width: 50%;
                    margin-bottom: -70px;
                }

            }

        }
    }

    .sectionEight {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 80px;

        h1 {

            font-family: $font-family;
            font-size: 55px;
            padding-left: 10px;

            span {
                color: $text-colour;
            }
        }

        .MentorCardContainer {
            display: flex;
            justify-content: space-between;
            font-family: $font-family;

            .MentorCard {
                background-color: #FFFFFF;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
                width: 380px;
                border-radius: 20px;

                .best {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    background-color: #FF8B36;
                    width: 200px;
                    margin: 20px auto;
                    border-radius: 10px;

                    p {
                        box-sizing: border-box;
                        font-family: $font-family;
                        font-size: 15px;
                        color: white;
                        margin: 0px;
                        padding: 3px 0px;
                    }

                }

                div:nth-of-type(2) {
                    display: flex;
                    justify-content: space-evenly;

                    div:nth-of-type(2) {
                        display: grid;
                        justify-content: space-between;

                        h6 {
                            box-sizing: border-box;
                            margin: 0px;
                            font-size: 20px;
                            font-weight: bold;

                        }

                        p {
                            box-sizing: border-box;
                            margin: 0px;
                            padding: 10px;
                            color: $text-colour;
                            margin-left: -10px;


                        }

                        span {
                            display: flex;
                            // justify-content: space-evenly;
                            align-items: center;
                            text-align: center;

                            p {
                                font-size: 10px;
                            }
                        }

                        .review {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            p {
                                font-size: 9px;
                            }
                        }
                    }
                }

                .NewCardDiv {
                    padding-top: 35px;
                    display: flex;
                    justify-content: space-evenly;

                    div:nth-of-type(2) {

                        display: grid;
                        justify-content: space-between;

                        h6 {
                            box-sizing: border-box;
                            margin: 0px;
                            font-size: 20px;
                            font-weight: bold;

                        }

                        p {
                            box-sizing: border-box;
                            margin: 0px;
                            padding: 10px;
                            color: $text-colour;
                            margin-left: -10px;


                        }

                        span {
                            display: flex;
                            // justify-content: space-evenly;
                            align-items: center;
                            text-align: center;

                            p {
                                font-size: 10px;
                            }
                        }

                        .review {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            p {
                                font-size: 9px;
                            }
                        }
                    }

                }

                .commentreview {
                    font-family: $font-family;
                    font-size: 10px;
                    margin: 10px 50px;
                }
            }

        }
    }

    .sectionNine {
        padding-left: 50px;
        padding-right: 50px;

        h2 {
            font-family: $font-family;
            font-size: 40px;
            text-align: center;

            span {
                color: green;

            }
        }

        .certification {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            padding-top: 30px;
            padding-bottom: 60px;
        }
    }

    footer {
        padding-right: 50px;
        padding-left: 50px;
        background-color: #003F7D;
        padding-top: 100px;
        color: #FFFFFF;
        font-family: $font-family;

        .footer1 {
            display: flex;
            justify-content: space-evenly;

            h3 {
                font-weight: 500;
                font-size: 25px;
            }

            .input {
                padding: 10px 40px;
                background-color: #003F7D;
                border-top-style: none;
                border-left: none;
                border-right: none;
            }

            .btn3 {
                background-color: #F98149;
                padding-bottom: 10px;
                padding-right: 10px;
                padding-left: 10px;
                border-radius: 5px 5px 0px 0px;
                border-color: #F98149;
            }

            div:nth-of-type(2) {
                ul {
                    list-style-type: none;

                    li {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    align-items: end;
                    align-self: flex-end;

                    margin-left: -30px;
                }

            }

            div:nth-of-type(3) {
                ul {
                    list-style-type: none;


                    align-items: end;
                    align-self: flex-end;

                    margin-left: -30px;

                    li {
                        padding-top: 5px;
                        padding-bottom: 10px;
                    }

                }


            }
        }
        .footer2{
            display: flex;
            justify-content: space-between;
            padding: 100px;
            div:nth-of-type(1){
                display: flex;
                gap: 30px;
            }
            
        }

    }
}